
- Coleta dos Dados
- Visão Geral do Conjunto de Dados

In [ ]:
#Importação de pacotes
import warnings
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
import numpy as np
import joblib # Utilizado para salvar o modelo preditivo
from sklearn.preprocessing import LabelEncoder #Utilizada para fazer o OneHotEncoding
from sklearn.metrics import mean_squared_error,precision_score, recall_score, f1_score, accuracy_score, roc_auc_score, confusion_matrix
from imblearn import under_sampling, over_sampling #Utilizada para fazer o balanceamento de dados
from imblearn.over_sampling import SMOTE #Utilizada para fazer o balanceamento de dados
from sklearn.preprocessing import MinMaxScaler #Utilizada para fazer a padronização dos dados
from sklearn.metrics import r2_score # Utilizado para medir a acuracia do modelo preditivo
import pymssql as sql #conexão SQL

warnings.filterwarnings("ignore")
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
#pd.options.display.float_format = '{:.2f}'.format

In [ ]:
#Importação do arquivo de dados

# Cria a conexão com o SQL Server passando os parametros (Servidor, Usuário, Senha, Database)
conexao = sql.connect('localhost', 'usuario_python', '123456', 'MODELOS_PREDITIVOS')

# Chama a consulta ao banco de dados passando os parametros da conexão criada
df_original = pd.read_sql_query('select * from EXTRACAO_DADOS_SISTEMA', conexao)

# Fecha conexão com banco de dados
conexao.close()

### Analise Exploratória - Visão Geral
<br>
Aqui o objetivo desta analise é ter uma visão geral do conjunto de dados, compreendendo seu tamanho, variaveis,
tipo de dados e período dos dados coletados.

In [ ]:
#Tamanho do conjunto de dados.
df_original.shape

(10415, 20)

In [ ]:
#Visão geral do conjunto de dados
df_original.head(5)

,NUMERO_CONTRATO,DATA_ASSINATURA_CONTRATO,TIPO_FINANCIAMENTO,TAXA_AO_ANO,PZ_FINANCIAMENTO,CIDADE_CLIENTE,ESTADO_CLIENTE,RENDA_MENSAL_CLIENTE,QT_PC_ATRASO,QT_DIAS_PRIM_PC_ATRASO,QT_TOTAL_PC_PAGAS,VL_TOTAL_PC_PAGAS,QT_PC_PAGA_EM_DIA,QT_DIAS_MIN_ATRASO,QT_DIAS_MAX_ATRASO,QT_DIAS_MEDIA_ATRASO,VALOR_FINANCIAMENTO,VALOR_PARCELA,IDADE_DATA_ASSINATURA_CONTRATO,INADIMPLENTE_COBRANCA
0,41637,2012-03-23,IMOBILIARIO,15.0,180,FORTALEZA,CE,4800.0,0,0,97,120078.00,72,3,506,152,73767.0,471.29,70.0,SIM
1,67958,2012-01-24,IMOBILIARIO,15.0,200,SAO PAULO,SP,6800.0,0,0,103,156759.47,42,1,349,93,323251.0,1858.69,28.0,SIM
2,68502,2014-05-23,IMOBILIARIO,18.0,200,SAO PAULO,SP,6800.0,0,0,98,277125.05,83,1,151,39,529419.0,3123.57,60.0,SIM
3,68731,2015-10-23,IMOBILIARIO,15.0,200,SAO PAULO,SP,6800.0,0,0,87,351395.19,66,1,3797,206,499753.0,2873.58,41.0,SIM
4,68996,2017-01-24,IMOBILIARIO,17.0,200,SAO PAULO,SP,6800.0,0,0,71,344249.83,57,1,36,10,722057.0,4224.03,63.0,SIM

In [ ]:
# Analisando os dados missing podemos constatar o seguinte:
# Variavel DADE_DATA_ASSINATURA_CONTRATO possui 1 registro
# Variavel VL_TOTAL_PC_PAGAS possui 4 registros

# Como temos um total de 10.415 observações então excluir 5 observações NÃO afetará nosso trabalho

df_original.isnull().sum()

NUMERO_CONTRATO                   0
DATA_ASSINATURA_CONTRATO          0
TIPO_FINANCIAMENTO                0
TAXA_AO_ANO                       0
PZ_FINANCIAMENTO                  0
CIDADE_CLIENTE                    0
ESTADO_CLIENTE                    0
RENDA_MENSAL_CLIENTE              0
QT_PC_ATRASO                      0
QT_DIAS_PRIM_PC_ATRASO            0
QT_TOTAL_PC_PAGAS                 0
VL_TOTAL_PC_PAGAS                 4
QT_PC_PAGA_EM_DIA                 0
QT_DIAS_MIN_ATRASO                0
QT_DIAS_MAX_ATRASO                0
QT_DIAS_MEDIA_ATRASO              0
VALOR_FINANCIAMENTO               0
VALOR_PARCELA                     0
IDADE_DATA_ASSINATURA_CONTRATO    1
INADIMPLENTE_COBRANCA             0
dtype: int64

In [ ]:
#Informações básicas sobre tipos de variáveis
df_original.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10415 entries, 0 to 10414
Data columns (total 20 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   NUMERO_CONTRATO                 10415 non-null  int64
 1   DATA_ASSINATURA_CONTRATO        10415 non-null  object
 2   TIPO_FINANCIAMENTO              10415 non-null  object
 3   TAXA_AO_ANO                     10415 non-null  float64
 4   PZ_FINANCIAMENTO                10415 non-null  int64
 5   CIDADE_CLIENTE                  10415 non-null  object
 6   ESTADO_CLIENTE                  10415 non-null  object
 7   RENDA_MENSAL_CLIENTE            10415 non-null  float64
 8   QT_PC_ATRASO                    10415 non-null  int64
 9   QT_DIAS_PRIM_PC_ATRASO          10415 non-null  int64
 10  QT_TOTAL_PC_PAGAS               10415 non-null  int64
 11  VL_TOTAL_PC_PAGAS               10411 non-null  float64
 12  QT_PC_PAGA_EM_DIA               10415 non-null  int64
 13  QT_DIAS_MIN_ATRASO              10415 non-null  int64
 14  QT_DIAS_MAX_ATRASO              10415 non-null  int64
 15  QT_DIAS_MEDIA_ATRASO            10415 non-null  int64
 16  VALOR_FINANCIAMENTO             10415 non-null  float64
 17  VALOR_PARCELA                   10415 non-null  float64
 18  IDADE_DATA_ASSINATURA_CONTRATO  10414 non-null  float64
 19  INADIMPLENTE_COBRANCA           10415 non-null  object
dtypes: float64(6), int64(9), object(5)
memory usage: 1.6+ MB

In [ ]:
# Avaliar o período dos dados coletados
inicio = pd.to_datetime(df_original['DATA_ASSINATURA_CONTRATO']).dt.date.min()
fim = pd.to_datetime(df_original['DATA_ASSINATURA_CONTRATO']).dt.date.max()
print('Período dos dados - De:', inicio, 'Até:',fim)

Período dos dados - De: 2012-01-10 Até: 2022-11-14

In [ ]:
# Total de valores únicos de cada variável
# A variável TIPO_FINANCIAMENTO possuI valor unico, então será retirada do nosso DataFrame

valores_unicos = []
for i in df_original.columns[0:20].tolist():
    print(i, ':', len(df_original[i].astype(str).value_counts()))
    valores_unicos.append(len(df_original[i].astype(str).value_counts()))

NUMERO_CONTRATO : 10415
DATA_ASSINATURA_CONTRATO : 1070
TIPO_FINANCIAMENTO : 1
TAXA_AO_ANO : 111
PZ_FINANCIAMENTO : 9
CIDADE_CLIENTE : 525
ESTADO_CLIENTE : 27
RENDA_MENSAL_CLIENTE : 7
QT_PC_ATRASO : 130
QT_DIAS_PRIM_PC_ATRASO : 227
QT_TOTAL_PC_PAGAS : 137
VL_TOTAL_PC_PAGAS : 9861
QT_PC_PAGA_EM_DIA : 129
QT_DIAS_MIN_ATRASO : 122
QT_DIAS_MAX_ATRASO : 534
QT_DIAS_MEDIA_ATRASO : 323
VALOR_FINANCIAMENTO : 834
VALOR_PARCELA : 1826
IDADE_DATA_ASSINATURA_CONTRATO : 79
INADIMPLENTE_COBRANCA : 2

In [ ]:
# Visualizando algumas medidas estatisticas
df_original.describe()

,NUMERO_CONTRATO,TAXA_AO_ANO,PZ_FINANCIAMENTO,RENDA_MENSAL_CLIENTE,QT_PC_ATRASO,QT_DIAS_PRIM_PC_ATRASO,QT_TOTAL_PC_PAGAS,VL_TOTAL_PC_PAGAS,QT_PC_PAGA_EM_DIA,QT_DIAS_MIN_ATRASO,QT_DIAS_MAX_ATRASO,QT_DIAS_MEDIA_ATRASO,VALOR_FINANCIAMENTO,VALOR_PARCELA,IDADE_DATA_ASSINATURA_CONTRATO
count,10415.000000,10415.000000,10415.000000,10415.000000,10415.000000,10415.000000,10415.000000,10411.000000,10415.000000,10415.000000,10415.000000,10415.000000,1.041500e+04,10415.000000,10414.000000
mean,95569.356889,17.271483,114.242535,5620.259241,16.716179,664.389438,35.946711,44528.545631,27.667115,6.115699,79.133845,28.841863,3.255909e+05,3617.341097,40.789418
std,34561.658949,2.566596,64.330109,2930.301113,30.706681,1181.352716,28.384415,65640.970502,25.153443,82.908021,334.871089,137.395374,1.774775e+05,1932.714754,12.390906
min,32709.000000,7.000000,48.000000,1800.000000,0.000000,0.000000,0.000000,0.010000,0.000000,0.000000,0.000000,0.000000,2.932700e+04,185.740000,0.000000
25%,75868.500000,16.000000,72.000000,1800.000000,0.000000,0.000000,11.000000,8675.445000,7.000000,0.000000,0.000000,0.000000,2.100000e+05,2467.755000,31.250000
50%,79111.000000,17.000000,72.000000,7800.000000,0.000000,0.000000,33.000000,24345.600000,22.000000,1.000000,8.000000,4.000000,2.800000e+05,3470.590000,39.000000
75%,136637.500000,19.000000,180.000000,7800.000000,22.000000,1005.500000,54.000000,46787.290000,42.000000,3.000000,62.000000,22.000000,3.929738e+05,4930.245000,49.000000
max,155890.000000,25.500000,240.000000,9800.000000,178.000000,5655.000000,167.000000,714499.740000,136.000000,5465.000000,5710.000000,5480.000000,1.400000e+06,14410.000000,118.000000

In [ ]:
print('Maior Valor Financiado:', df_original['VALOR_FINANCIAMENTO'].max())
print('Menor Valor Financiado:', df_original['VALOR_FINANCIAMENTO'].min())

Maior Valor Financiado: 1400000.0
Menor Valor Financiado: 29327.0

In [ ]:
# A variavel alvo precisará ser balanceada na etapa de pré-processamento
df_original.groupby(['INADIMPLENTE_COBRANCA']).size()

INADIMPLENTE_COBRANCA
NAO    2377
SIM    8038
dtype: int64

In [ ]:
# Aqui não precisaremos alterar nada
df_original.groupby(['PZ_FINANCIAMENTO']).size()

PZ_FINANCIAMENTO
48      343
72     6122
100     939
160       2
180     765
194       2
200     558
220     774
240     910
dtype: int64

In [ ]:
# Aqui não precisaremos fazer nenhum tratamento
df_original.groupby(['RENDA_MENSAL_CLIENTE']).size()

RENDA_MENSAL_CLIENTE
1800.0    3512
3800.0      33
4800.0     416
5800.0    1039
6800.0     130
7800.0    4306
9800.0     979
dtype: int64

In [ ]:
# Observe que temos uma variedade muito grande de valor financiado, neste caso devemos criar um range de valores
df_original.groupby(['VALOR_FINANCIAMENTO']).size()

VALOR_FINANCIAMENTO
29327.00         1
31421.00         3
39915.00         7
42574.00         7
45396.25         1
45789.00        18
46088.00         1
47574.00         1
55366.00         2
58658.00         1
60991.00         5
65054.00         3
66195.00         1
67439.00         1
67769.00         1
69967.00         3
71559.00        11
72284.00         1
73767.00         9
74050.00         1
75387.00         2
76700.00         2
77743.00         2
78714.00         2
79511.00         1
79706.00         1
80602.00         1
81323.00         4
82688.00         1
83409.00         1
83765.00         1
85303.00         1
85516.00         1
85870.00        15
86581.00         3
86741.00         6
86948.00         1
88748.00         3
92039.00         7
92116.00         2
92673.00         1
93027.00         1
93292.00        15
93378.00         5
95134.00         2
95677.00         1
96569.00         1
97336.00         1
97930.00         1
98949.00         2
99293.00         1
99594.00         1
100060.00        1
100162.00       10
100182.00       10
100518.00        2
102489.00        1
102692.00        1
103630.00        1
104306.00        1
104337.00        1
105000.00       81
105907.00        1
105912.00        7
106277.00       17
106717.00        4
107339.00        8
107380.00        4
107475.00       10
107496.00        1
109550.00        1
109723.99        1
111317.00        3
112397.00        2
112532.00        3
113044.00       29
114010.00        6
114444.33        7
114471.00        1
114494.00        7
115000.00       28
115051.00        2
115144.00        1
118471.00        2
119208.00       19
119511.00        4
120056.00        1
121651.00        3
121725.00        1
121953.00        1
122500.00       18
122720.00        1
122828.00        1
123665.19        3
123685.00        1
123939.00        3
124627.00        1
125000.00        8
125974.38        1
126660.00        1
127349.00        2
128142.00        1
128725.07        1
128760.00        1
128779.00        1
128806.00        2
129579.00        3
131895.00       21
132391.00        5
132697.00        3
133518.42        1
134102.00        2
135133.00        2
135924.00        1
135962.00        2
136341.66        3
137677.00        1
138174.00        1
139016.00        1
140000.00       42
140876.00        1
141083.00       16
141997.00        1
143087.00        5
143119.00       17
144050.00        1
145000.00        9
146738.00        1
146842.00        1
148089.00        2
148424.00        1
148680.00        4
149495.00        2
149688.00        3
150000.00      104
150161.00        4
150366.00        1
151625.00        2
152443.00        3
152901.00        1
153266.00        5
155359.00        5
156620.00        3
157107.00        1
157399.00        1
157500.00       10
158106.00        1
159187.00        1
160076.00        2
160139.00        1
160300.00        5
160777.00       29
160949.00        2
161202.00        6
162601.00        1
162914.00        1
165000.00        6
165377.00        1
165383.00        1
165629.00        3
167687.00        1
168453.00        4
168470.00        1
168890.00        1
168917.00        1
169079.00        1
169400.00        1
170000.00       18
170294.00        1
170579.00        1
170858.00        3
171242.00        1
171666.53        1
173160.00        4
173329.00        8
174573.00        1
174790.00        9
175000.00      614
175296.38        1
177497.00        2
179159.00        1
179395.00        5
179970.00        1
180530.00        1
180880.00        1
181741.00       10
182140.00        2
182214.00        3
183986.00        1
184242.00        1
184380.00        3
185111.00        1
186015.00        1
186032.00        2
186754.00        2
188671.00       16
189630.00        6
190000.00       14
190269.00        5
190617.00       21
190740.55        4
191355.00        3
192080.00        2
192500.00        6
193550.00        1
193620.00       25
196440.00        2
197161.00        1
199080.00        6
199094.00       10
199334.00        2
199419.00       12
199596.00        3
199921.00        1
200000.00      294
200144.00        7
200252.00        3
200323.00        3
201196.00        3
202160.00        3
202700.00        1
203315.00        6
203651.00       11
204355.00        1
205000.00        4
205016.00        4
205513.00        1
206379.60        1
206381.00       16
206409.00        4
206430.00        3
206815.00        1
207190.00        5
207708.00        1
207830.60        7
208266.00       12
208390.00        1
208487.00        1
209881.00        5
210000.00     1317
210836.00        7
210871.00        8
211145.00        1
213572.00        1
214130.00        2
214251.17        3
214903.00        1
214948.00        4
215273.00        2
215343.55        8
215600.00        1
215880.00        1
216649.65       15
216830.70        1
216930.00        1
218085.00        8
218330.00        1
218645.20        2
218646.00        2
219030.00        3
219550.00        1
220000.00        1
220391.40        1
221385.00        1
221585.00        1
222971.00        1
223230.00        1
223543.00        2
224289.35       15
224770.91        8
225000.00       16
225088.00        4
226352.65        3
226408.00        8
226835.00        3
227234.00        2
227500.00        1
227556.00        7
227728.61       11
227811.00        7
227920.00        1
228018.00       24
228038.00        1
228620.00        2
228739.00       19
228888.66        9
229262.00        1
230000.00       10
230953.03        1
231104.16       16
231210.00        2
232351.00       16
233728.53        4
234299.25        1
235340.00        1
235404.00        1
235927.65        2
235970.00        2
236040.00        1
237115.63        1
238413.00        3
238917.00        8
238919.38        7
240177.00        1
240779.00       15
241719.00        4
242261.49        1
242357.88        4
242661.00        2
243934.55        1
244650.00        1
245000.00      807
246015.00        1
246393.00        1
247695.00        3
247870.00        7
248430.00        1
249126.22        1
250000.00       77
250670.00        3
251062.59        3
251154.00        2
251578.02        1
251753.00        1
251853.00        3
251948.76        5
252757.96       13
253374.00        4
254436.00        9
254646.73        2
255924.00        2
256194.70        1
256223.00        1
256270.00        1
257833.21        2
258195.00        1
258326.00        1
258987.50        1
259788.25        1
260000.00        3
261520.00        3
261982.49        9
262232.74        4
263112.00        1
263793.00        9
264138.00        9
265000.00        2
265366.00        1
265482.00        6
265510.00        1
265771.00        5
266868.00       11
267036.77       17
267102.00        1
267961.00        1
268731.05        1
269621.52       15
270000.00        7
270268.00        1
271038.38        1
271075.00       12
271309.36       14
272048.00        1
272652.61        2
272683.32        1
273812.00        1
275000.00       14
275072.00        1
275170.00       11
275248.89        2
275660.00        1
277906.00        1
278320.00        3
278733.00        2
278739.30       11
280000.00      829
280203.00        3
280833.02        1
281370.00        1
281589.00        2
281775.27        2
281820.00        1
282170.00        6
282445.43        2
282940.00        3
282940.82        3
284660.77        1
285121.76        2
285248.00        2
286230.00        5
288866.20       12
288881.00        2
289398.00        1
289943.08        1
290000.00        4
290780.00        6
291528.00        1
292530.00        2
293940.22        3
294420.00        1
295219.00        1
296097.38        1
296179.00        1
298992.00       11
299694.57        5
300000.00      146
301875.00        3
303255.00        6
303408.00        5
304050.00        1
304639.00        1
304983.00        2
305000.00        2
305184.88       10
305646.32        8
308138.88       11
309568.00       14
309569.40        2
309799.00       13
310052.00        2
310067.80        6
310647.12        1
310730.00        6
310785.00        1
311087.70        1
311332.00        2
311638.04        1
311745.90        2
312391.00        1
312399.00        1
313126.85        1
315000.00      284
318556.00        2
318559.22        1
320229.00        1
321554.00        4
321566.00        1
322469.00        1
323251.00        3
323334.00        1
324974.51        5
325000.00        5
325500.00        1
327131.00        2
328737.85        1
329117.84        1
330587.10        1
332661.00        7
333242.08        1
334825.00        1
335230.00        2
335804.00        2
336434.02        2
337156.40        2
337834.00        1
338160.00        1
339605.00        3
341327.00        6
342230.00        2
343112.00        2
343332.99       16
343966.00       10
346022.00        3
346182.00        2
346656.24        7
346658.00        3
348523.00        6
348826.31        5
348833.17        2
349310.01        5
349370.00        2
350000.00     1046
352209.23        4
352349.90        1
353891.51        2
355414.00        1
358372.00        4
358379.14        3
360000.00        5
360570.00       10
361082.75       21
363475.00        9
363536.81        1
363577.30        2
363703.55        1
367850.00        4
370090.00        1
370224.00        5
370930.00        2
371539.00        1
372063.00        5
373590.00        2
373707.00        1
374618.16        3
375000.00        8
376593.91        1
376851.21        1
377127.00        1
377342.00        9
377776.00        2
378060.00        5
378364.00        6
378458.00       23
379253.00        2
381227.00       11
381481.10        5
384300.00        2
385000.00       72
385173.60       10
387247.00       39
387354.45        1
387584.75        4
388780.00        1
389547.55        4
391953.00       14
392973.77        7
394590.00        1
397191.06        3
398195.00        2
398198.99        2
398836.00        4
400000.00      215
400288.00       26
400451.00        3
403693.00        1
403725.00        9
404850.00        1
405064.00        2
405400.00        4
406044.10        1
407684.00        2
407976.74        2
410025.00        3
412755.00       22
415661.20        1
416532.00        3
419629.21       13
419748.00        3
420000.00      376
420542.53        1
421740.00        1
422023.15        9
422293.00        9
422663.01        1
423690.96        7
425000.00        3
425469.00        1
426343.26        8
428359.00        2
430687.10        5
431002.00        1
432068.00        1
432523.00        6
433299.30        3
433661.41        1
434325.00        6
435330.00        1
435992.00        1
436637.53        3
437290.00        1
437290.40        1
437817.00        1
438018.91        8
439554.84        3
440782.80        1
447946.00        2
448578.70        8
448630.00        2
449541.82       20
450000.00       26
454421.02        2
455000.00       90
457777.32        5
457940.00        2
461239.00        9
461905.99        3
462208.32       18
463110.00        1
464050.40        1
465101.70        4
467134.00        1
468315.00        3
469630.00        1
470742.38        1
471855.30        1
474964.94        9
475000.00        1
477838.83        8
478653.00        1
480301.29        2
481449.00        3
483238.56        1
484715.75        3
484877.00        1
486384.18        1
486563.00       30
486588.00        6
490000.00      210
492055.00        1
494755.00        2
495925.43        7
496371.00        3
498027.15        1
499753.00        1
500000.00       81
500498.49       16
501766.00        2
501914.00        3
502125.20        1
502348.39       14
503156.06        2
503860.21        9
503897.45        1
503940.00        1
504488.02        1
505318.45        1
513766.95        7
515186.00       25
518325.36        4
519034.00        1
519074.00        2
520999.00        1
521287.70        3
522056.70        4
523964.98        3
523990.95        7
525000.00        6
525695.33        1
527130.00        4
529419.00        2
531562.43        4
532043.00        1
533934.00        1
534073.54       43
535984.58        1
538752.00        2
539006.34        1
540086.00        1
540654.00        2
542618.65        5
542817.07        3
545888.91        1
547589.00       33
550000.00       13
550227.00        5
551985.00        3
552502.05        1
556232.04        8
557557.33        8
558196.59        5
560000.00       63
563550.68        2
567306.00        1
568669.00        1
570046.00        1
571998.28        5
574476.16        3
576704.00        4
577214.17        1
578889.00        1
581805.00       28
585020.00        1
586705.00        5
587880.37       14
588784.00        9
591703.00        1
593021.00        3
594719.00        1
595000.00        7
598339.33        2
598846.78       14
599019.19        3
600000.00       37
600677.00        1
602119.00        2
602660.17        1
602890.22        1
607833.00        3
608699.85        1
614285.00       16
615926.00        2
617063.75        6
619005.00        2
620464.00        3
623364.00        2
625453.00        2
625583.00        4
625821.00        4
630000.00       27
634424.00        2
637208.38        3
637938.91       12
638069.31        1
638070.00        1
642539.00        1
643498.06        2
648103.00        8
648784.00        1
649018.72        1
650000.00        7
658168.00        2
658913.00       10
662382.00        3
664923.00        4
664930.00        3
665000.00        6
670227.04        1
673702.61        9
678521.35        1
682510.00        1
683942.00        2
684593.28       13
687784.00        1
689346.00        3
692098.00        1
694666.00        2
697578.20        1
699181.00        3
700000.00      165
702044.00        9
702473.00        1
702850.00        3
704046.00       11
706475.00       15
714997.85        1
716859.43        2
717021.00        1
717681.23        8
718469.57        7
722057.00        3
732802.00        1
735980.00        5
741735.61        1
743162.00        5
744556.00        5
744571.00        1
744696.72        2
745920.00        2
746373.48        2
748558.44       15
753522.59        1
756562.00        2
756915.00       10
760061.00        2
770000.00       15
770167.44        2
772779.00        2
774708.90        2
782271.00        5
783906.00        3
786497.63        2
789600.00        3
790695.00        1
796510.48        1
797423.62        2
802826.00        1
805000.00        2
806603.00        1
807448.00        3
812088.20        2
819166.38        1
821107.98        2
821387.00        3
823414.34        6
824591.67        1
825340.00        1
831152.00        3
833686.00        3
834452.57        1
837067.00        1
840000.00       20
846377.00        4
855741.60        1
856587.00        1
857997.41        1
860425.00        2
860503.00        1
868649.00        5
872711.00        2
875000.00        2
877166.01        6
877555.00        3
881519.65        1
883176.00        1
898270.17        5
899612.00        3
910000.00       25
914270.00        6
921431.00        1
922478.00       13
928228.00        1
935557.00        1
941315.76        3
945000.00        3
947148.00        3
949929.88        2
955812.57        2
955822.00        1
956774.00        1
962897.00        1
962898.00        1
973126.00       15
973133.00        1
977837.00        1
980000.00       10
984816.29        1
993573.00        1
997381.00        1
1000996.99       9
1015000.00       1
1026385.01       1
1026889.92       3
1030372.00       8
1035463.62       2
1036650.72      11
1042575.40       1
1050000.00       2
1053066.00       1
1056069.00       1
1080499.00       3
1095178.00       7
1112464.08       5
1112603.38       1
1115114.67       3
1120000.00       1
1122058.00       1
1163610.00      10
1172479.00       1
1205320.34       5
1260000.00       1
1280223.00       1
1367884.00       4
1378692.00       1
1400000.00      10
dtype: int64